body{
    background: linear-gradient(#f4f4ed, white);
    overflow: hidden;
}
.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.calculator{
    padding: 20px;
    width: 400px;
    text-align: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#user-input{
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    font-size: 2rem;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.btn{
    width: 24%;
    height: 45px;
    padding: 20px;
    margin-top: 3px;
    border-radius: 3px;
    border: none;
    outline: none;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#equal{
    width: 99.2%;
    height: 45px;
    padding: 20px;
    margin-top: 3px;
    border-radius: 3px;
    border: none;
    outline: none;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn:hover, #equal:hover{
    background-color: rgb(223, 255, 255);
}
@media (max-width:480px){
    .btn{
        width: 23.4%;    
    }
}
@media (max-width:320px){
    .btn{
        width: 23%;    
    }
}